<div>
    <input id="chatBox"> <!-- caja para escribir mensaje-->
</div>

<div>
    <p id="messageLogs"></p> <!-- caja para ir colocando mensajes nuevos-->
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>